.container{
    margin-bottom: 100px;
}
.container-bg{
    background-color: powderblue;
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 60px;
}
.price{
    color: #FF136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 20px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-color: yellowgreen;
}
.cat2{
    background-color: royalblue;
}
.cat3{
background-color: #FF589B;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card-text{
    font-style: italic;
    color: darkcyan;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightslategray ;
    border-radius: 10px;
}
#contact-us{
    height: 300px;
}
#contact-us h6{
    color: gray;
}
.form-control{
    margin-bottom: 7px ;
    
}
footer{
    text-align: center;
}